*,
*:before,
*:after {
    box-sizing: border-box;
}

html, html * {
    font-family: 'PT Sans', sans-serif;
}

body {
    background: var(--mainBackgroundColor);
    color: var(--mainGray);
}

img {
    width: 100%;
    height: auto;
}

a {
    color: var(--mainBlue);
}

a:hover {
    color: var(--mainBlueDark)
}

.app-wrapper {
    max-width: var(--appWrapperMaxWidth);
    margin: 0 auto;
}

::-webkit-input-placeholder {
    font-style: italic;
    text-transform: lowercase;
}

::-moz-placeholder {
    font-style: italic;
    text-transform: lowercase;
}

:-ms-input-placeholder {
    font-style: italic;
    text-transform: lowercase;
}

.button {
    color: var(--buttonCommonColor);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: var(--buttonBorderRadius);
    cursor: pointer;
}

.button-black {
    background: var(--buttonBlackBackgroundColor);

}

.button-red {
    background: var(--buttonRedBackgroundColor);
}

.button a {
    text-decoration: none;
}

.button.like,
.button.share,
.button.comment,
.button.report {
    display: flex;
    justify-content: center;
    color: #696f77;
    font-style: normal;
    padding-left: 0;
    padding-right: 0;
}

.button.like img,
.button.share img,
.button.comment img,
.button.report img {
    margin-right: 6px;
}

.button.like,
.button.share {
    margin-right: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}