*,
*:before,
*:after {
    box-sizing: border-box;
}

html, html * {
    font-family: 'Roboto', san-serif;
}

body {
    background: var(--mainBackgroundColor);
    color: var(--mainGray);
}

img {
    width: 100%;
    height: auto;
}

a {
    color: var(--mainBlue);
}

a:hover {
    color: var(--mainBlueDark)
}

.app-wrapper {
    max-width: var(--appWrapperMaxWidth);
    margin: 0 auto;
}