.search-github-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input-wrapper {
    width: 100%;
    margin-top: var(--mainTopOffset);
}

.search-input {
    width: 100%;
    border-radius: var(--borderRadiusCommon);
    transition: var(--transitionCommon);
    padding: 10px;
    border: 2px solid var(--lightGray);
    color: var(--mainGray);
    outline: none;
}

.search-input:focus {
    border-color: var(--mainBlue);
}

.search-github-user-wrapper .button {
    border: none;
    text-transform: uppercase;
    color: var(--mainWhite);
    border-radius: var(--borderRadiusCommon);
    background: var(--mainBlue);
    transition: var(--transitionCommon);
    padding: 15px;
    margin-top: var(--mainTopOffset);
    outline: none;
    appearance: none;
}

.search-github-user-wrapper .button:hover {
    background: var(--mainBlueSoft);
}

.search-github-user-wrapper .button:active {
    background: var(--mainBlueDark);
}

.user-info-container {
    position: relative;
    min-height: 200px;
}

.user-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--mainTopOffset);
}

.user-info-item-wrapper .user-info-item-label {
    margin-right: 10px;
}

.user-info-item-wrapper {
    display: flex;
    align-items: center;
    margin-top: var(--mainTopOffset);
}

.user-info-item-avatar {
    width: var(--userInfoAvatarDimentions);
    height: var(--userInfoAvatarDimentions);
    border-radius: 50%;
    border: 2px solid var(--mainGray);
    overflow: hidden;
}

.user-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-height: 200px;
    text-align: center;

}